@inherits LayoutComponentBase
@inject NavigationManager Navigation

<nav aria-label="Breadcrumb"
     class="flex items-center px-4 py-2 border border-gray-300 rounded-lg space-x-2 text-xs text-gray-600"
     style="background-color: #f9f9f9;">
    @if (Items?.Any() == true)
    {
        @for (int i = 0; i < Items.Count; i++)
        {
            var currentItem = Items[i];

            if (i > 0)
            {
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="w-5 h-5 text-gray-300">
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            }

            if (!string.IsNullOrEmpty(currentItem.Url))
            {
                <button type="button"
                        class=@($"flex items-center px-2 py-1 rounded transition-all duration-200 hover:border hover:border-gray-400 hover:text-blue-600 {currentItem.CssClass}")
                        @onclick="(() => Navigation.NavigateTo(currentItem.Url))">
                    
                    @if (i == 0)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="w-5 h-5 text-gray-400 mr-2">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                        </svg>
                    }
                    <span>@currentItem.Text</span>
                </button>
            }
            else
            {
                <span class=@($"text-gray-400 px-2 py-1 {currentItem.CssClass}")>
                    @currentItem.Text
                </span>
            }
        }
    }
</nav>