<div class="px-4">
    <div class="w-full max-w-[115rem] mx-auto bg-white rounded shadow-sm border border-gray-300 pt-3 pb-4 px-4 h-fit">

        <div class="flex justify-start items-center h-fit">
            <div class="text-xs">
                <Breadcrumbs Items="BreadcrumbItems"/>
            </div>
        </div>

        <div class="my-5 border-t border-gray-300"></div>

        <div>
            @ChildContent
        </div>
    </div>
</div>
