@inherits LayoutComponentBase

<div class="bg-white rounded-lg shadow-sm p-6 border-1 border-gray-300 hover:border-gray-400">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Sadržaj koji će biti prikazan unutar komponente.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}