@inherits LayoutComponentBase

<div class="bg-[#1e497f] text-white rounded-lg shadow-sm border border-transparent hover:border-[#1e497f] transition-colors duration-200">
    <div class="c-padding-p-5">
        @ChildContent
    </div>
</div>