@model DodjelaStanovaZG.Areas.Identity.Pages.Account.Model.LoginLogoutButtonModel

<div class="flex justify-center mt-4">
    <button type="submit" class="@Model.ButtonClasses">
        @* Prikaz ikone ovisno o tipu (login ili logout) *@
        @if (Model.IconType == "login")
        {
            @* Chevron right ikona za prijavu *@
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        }
        else if (Model.IconType == "logout")
        {
            @* Chevron left ikona za odjavu *@
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        }
        <span>@Model.ButtonText</span>
    </button>
</div>