@page "/logout"
@using Microsoft.AspNetCore.Components.Authorization
@using DodjelaStanovaZG.Components.UI
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<Container>
    <CardComponent>
        <h3>Log out</h3>
        @if (isAuthenticated)
        {
            <p>Are you sure you want to log out?</p>
            <!-- Koristi GET za logout jer POST ima CSRF probleme u Blazoru -->
            <a href="/Identity/Account/Logout?returnUrl=/" class="btn btn-danger">Logout</a>
        }
        else
        {
            <p>You have successfully logged out.</p>
            <a href="/" class="btn btn-primary">Return to Home</a>
        }
    </CardComponent>
</Container>

@code {
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
    }
}
