@page
@model DodjelaStanovaZG.Areas.Identity.Pages.Account.ResendEmailConfirmationModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    ViewData["Title"] = "Ponovno slanje potvrde";
}
<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="~/css/output.css" rel="stylesheet"/>
    <title>@ViewData["Title"]</title>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="w-full max-w-md bg-white shadow-sm rounded p-6 border border-gray-300 hover:border-gray-400">
    <h2 class="text-xl font-semibold text-gray-800 text-center mb-4">Ponovno slanje potvrde</h2>
    <form method="post" class="space-y-4">
        <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm"></div>
        <div>
            <input asp-for="Input.Email" class="w-full p-2.5 border border-gray-300 rounded-lg text-sm" placeholder="Email"/>
            <span asp-validation-for="Input.Email" class="text-red-500 text-xs"></span>
        </div>
        <div class="flex justify-center">
            <button type="submit" class="bg-[#163d73] hover:bg-[#13557a] text-white font-bold text-sm py-2 px-4 rounded focus:outline-none focus:ring-2 transition">
                Pošalji ponovo
            </button>
        </div>
    </form>
</div>
</body>
</html>